/* .mlist{
    display: none;
} */
.slcard .mlist .mcard{
    
    
    
    padding:0%; 
    flex: 0 0 16%; /* 4 per row, minus gap */
    box-sizing: border-box;
    cursor: pointer;
    
    
    
}
#flage{
    
    color:rgb(200, 173, 108);
    position: absolute;
    /* height: 50%; */
    margin:2%;
    margin-bottom: 25%;
    background-color: rgba(0, 0, 0, 0.553);
    margin-left: 0;
    padding:1%;
    border-radius: 12px;

    
    
}
#locm{
    margin:1%;
    color:white;
}
